src/machine-definition/knowledge-base.json
{
    "Comment": "Orchestate the RAG ingestion",
    "QueryLanguage": "JSONata",
    "StartAt": "Map",
    "States": {
        "Map": {
            "Type": "Map",
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "INLINE"
                },
                "StartAt": "Get S3 Inputs",
                "States": {
                    "Get S3 Inputs": {
                        "Type": "Pass",
                        "Next": "Generate Initial S3 URI",
                        "Output": {
                            "s3_bucket": "{% $parse($states.input.body).detail.bucket.name %}",
                            "input_s3_key": "{% $parse($states.input.body).detail.object.key %}"
                        }
                    },
                    "Generate Initial S3 URI": {
                        "Type": "Pass",
                        "Next": "PDF to Text",
                        "Output": {
                            "input_s3_uri": "{% 's3://' & $states.input.s3_bucket & '/' & $states.input.input_s3_key  %}"
                        }
                    },
                    "PDF to Text": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Output": "{% $states.result.Payload %}",
                        "Arguments": {
                            "FunctionName": "${PDF_TO_TEXT_LAMBDA_ARN}:$LATEST",
                            "Payload": {
                                "s3_uri": "{% $states.input.input_s3_uri %}"
                            }
                        },
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 1,
                                "MaxAttempts": 3,
                                "BackoffRate": 2,
                                "JitterStrategy": "FULL"
                            }
                        ],
                        "Next": "Chunking"
                    },
                    "Chunking": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Output": "{% $states.result.Payload %}",
                        "Arguments": {
                            "FunctionName": "${CHUNKING_LAMBDA_ARN}:$LATEST",
                            "Payload": {
                                "s3_uri": "{% $states.input.result.corpus_s3_uri %}"
                            }
                        },
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 1,
                                "MaxAttempts": 3,
                                "BackoffRate": 2,
                                "JitterStrategy": "FULL"
                            }
                        ],
                        "Next": "Embedding"
                    },
                    "Embedding": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::lambda:invoke",
                        "Output": "{% $states.result.Payload %}",
                        "Arguments": {
                            "FunctionName": "${EMBEDDING_LAMBDA_ARN}:$LATEST",
                            "Payload": {
                                "s3_uri": "{% $states.input.result.chunks_s3_uri %}"
                            }
                        },
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "Lambda.ServiceException",
                                    "Lambda.AWSLambdaException",
                                    "Lambda.SdkClientException",
                                    "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 1,
                                "MaxAttempts": 3,
                                "BackoffRate": 2,
                                "JitterStrategy": "FULL"
                            }
                        ],
                        "End": true
                    }
                }
            },
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        }
    }
}
